.gradle/
bin/
.settings/
.classpath
.project

TourGuide/.gradle/
TourGuide/.settings/
TourGuide/.classpath
TourGuide/.project
TourGuide/.gitignore
TourGuide/bin/
TourGuide/build

External API/gpsUtils/bin/
External API/gpsUtils/.gradle/
External API/gpsUtils/.settings/
External API/gpsUtils/.classpath
External API/gpsUtils/.project
